  text-decoration: underline;
}
h2 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 1rem;
}

section {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section:last-child {
  margin-bottom: 0;
}

section p {
  margin-bottom: 1rem;
}

section p:last-child {
  margin-bottom: 0;
}

nav ul li a.animate {
  transform: scale(1.1);
  transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}
